<a href="https://colab.research.google.com/github/T-Samps/IST-210-Spring-2020/blob/master/IST_210_FINAL_GROUP_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IST 210 Final Group Project**

![alt text](https://raw.githubusercontent.com/T-Samps/IST-210-Spring-2020/master/IST%20210%20Group%20Project%202/Updated_basketball_diagram.png)

In [118]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [119]:
%sql sqlite:///basketballDatabase.db

'Connected: @basketballDatabase.db'

In [120]:
%%sql
DROP TABLE IF EXISTS Player;
CREATE TABLE Player(playerNumber integer PRIMARY KEY, teamID integer, role text, year integer, playerID integer);

 * sqlite:///basketballDatabase.db
Done.
Done.

[]

In [121]:
%%sql
INSERT INTO Player VALUES('22','1','Point Guard','Senior','1');
INSERT INTO Player VALUES('9','2','Post','Junior','2');
INSERT INTO Player VALUES('10','3','Wing','Senior','3');
INSERT INTO Player VALUES('15','4','Point Guard','Sophomore','4');
INSERT INTO Player VALUES('7','5','Post','Senior','5');

 * sqlite:///basketballDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [122]:
%%sql
DROP TABLE IF EXISTS Team;
CREATE TABLE Team(teamID integer PRIMARY KEY, teamName text, numPlayers integer, conferenceID integer, location text, coachID integer);

 * sqlite:///basketballDatabase.db
Done.
Done.

[]

In [123]:
%%sql
INSERT INTO Team VALUES('1','Eagles','12','1','Jamestown','1');
INSERT INTO Team VALUES('2','Tigers','19','2','Montgomery','2');
INSERT INTO Team VALUES('3','Spartans','20','3','Dallas','3');
INSERT INTO Team VALUES('4','Lions','13','4','Warrensville','4');
INSERT INTO Team VALUES('5','Bears','22','5','Newtown','5');

 * sqlite:///basketballDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [124]:
%%sql
DROP TABLE IF EXISTS Ranking;
CREATE TABLE Ranking(rankOrder integer PRIMARY KEY, teamID integer, playerID integer, scheduleStrength real);

 * sqlite:///basketballDatabase.db
Done.
Done.

[]

In [125]:
%%sql
INSERT INTO Ranking VALUES('1','3','3','9.5');
INSERT INTO Ranking VALUES('2','4','4','5.7');
INSERT INTO Ranking VALUES('3','2','2','8.0');
INSERT INTO Ranking VALUES('4','5','5','2.1');
INSERT INTO Ranking VALUES('5','1','1','4.6');

 * sqlite:///basketballDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [126]:
%%sql
DROP TABLE IF EXISTS Baskets;
CREATE TABLE Baskets(playerID integer PRIMARY KEY, gameID integer, threePointBaskets integer, twoPointBaskets integer, freeThrows integer);

 * sqlite:///basketballDatabase.db
Done.
Done.

[]

In [127]:
%%sql
INSERT INTO Baskets VALUES('1','2','8','5','6');
INSERT INTO Baskets VALUES('2','2','0','7','10');
INSERT INTO Baskets VALUES('3','3','4','5','4');
INSERT INTO Baskets VALUES('4','3','5','4','6');
INSERT INTO Baskets VALUES('5','4','1','10','8');

 * sqlite:///basketballDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [128]:
%%sql
DROP TABLE IF EXISTS Coach;
CREATE TABLE Coach(coachID integer PRIMARY KEY, name text, teamID integer, school text);

 * sqlite:///basketballDatabase.db
Done.
Done.

[]

In [129]:
%%sql
INSERT INTO Coach VALUES('1','Johnson','1','Eagles');
INSERT INTO Coach VALUES('2','Williams','2','Tigers');
INSERT INTO Coach VALUES('3','Smith','3','Spartans');
INSERT INTO Coach VALUES('4','Evans','4','Lions');
INSERT INTO Coach VALUES('5','Jones','5','Bears');

 * sqlite:///basketballDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [130]:
%%sql
DROP TABLE IF EXISTS Conference;
CREATE TABLE Conference(conferenceID integer PRIMARY KEY, numTeams integer, section integer, teamID integer);

 * sqlite:///basketballDatabase.db
Done.
Done.

[]

In [131]:
%%sql
INSERT INTO Conference VALUES('1','10','2','1');
INSERT INTO Conference VALUES('2','8','3','2');
INSERT INTO Conference VALUES('3','12','3','2');
INSERT INTO Conference VALUES('4','6','5','4');
INSERT INTO Conference VALUES('5','8','5','4');

 * sqlite:///basketballDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

**Introduction to Project**

For our group’s project, we went with a sports-based theme. We all have prior experience with playing a variety of sports whether it be in high school, or on club teams. Therefore, keeping this project sports oriented helped us better understand the material, which therefore benefitted us in meeting the requirements of the project that needed to be attained. Originally, we had brainstormed three separate ideas that could have been used for this project.￼ Along with the basketball proposal, we also had a music category that entailed artists and their songs, and also a mail delivery idea that included addresses and shipping rates. From there, we narrowed it down to one idea, then started to go in more depth detail on that specific topic. This then allowed us to create the ER diagram based off the extra details we came up with. For example, player, team, coach, baskets, conference, and rankings were used as our 6 individual table names. We then elaborated more in depth on these and allowed us to create our primary key’s (PK) and so forth.

**Specifics in regards to our ER Diagram**

Our ER Diagram is meant to simulate a box score. A box score is a statistical summary of a sporting event. For basketball, a box score is where you would find important stats like three point baskets, two point baskets, free throws, and more. Seeing as how our project is specialized for high school basketball, we expanded the capabilities of a normal box score by implementing the database component. Now, in addition to game-specific stats, a user can easily find key information on the players, teams, coaches, and the conference as a whole. This allows a complete view of each game played in the conference, and how each game affects the rankings. Having a database based on a sport is tough because of how complex the statistics can get, especially when applied with the goal of creating future game plans or studying teams. Our ER Diagram contains the essential information that is needed to provide a top down view of a high school basketball league.

**How we created our database, tables, and inserted data**

We were able to create the database by starting with the players table and working to connect that table with other tables we felt could hold data relating to it. We felt that the players would be the most important part of the database, as we felt our database was most suited to provide users with the means to search for, compare, and analyze the stats of certain players. Whether the stats were per game, per conference, or overall, we believed that working off of and around the players table was the most efficient strategy for creating the database. For the inserted data, we simply made up data points for each attribute in each table until we had 5 tuples each, and then inserted them into the tables.

**Scenario for an average user using the database**

One possible scenario that an average user could use with the information regarding our database is to look up basic statistics involving the individual teams. If the user wanted, they could look up the stat line of a singular player to see specific stats pertaining to a particular game. They could view things such as which individual player averages the most points per game (PPG), or which player has the greatest average relating to assists per game (APG), or even who leads the team in rebounds per game (RPG). This scenario in particular, could be extremely helpful to the coach, or manager of the team. Why? Well, our database can help illustrate to the user which players are performing up to standards, and which players are not. Numbers don’t lie, and this database will clearly show who’s contributing what. This allows the coach/manager of the team to be able to successfully make use of our database.

**Queries**

In [132]:
%sql SELECT teamID, scheduleStrength from Ranking ORDER BY scheduleStrength DESC

 * sqlite:///basketballDatabase.db
Done.

[(3, 9.5), (2, 8.0), (4, 5.7), (1, 4.6), (5, 2.1)]

Using this query, a user is able to display the schedule strength of each team in the league. In addition, schedule strength is displayed in descending order. Using this information, a user could find out which teams had the hardest season due to key away games and other wear and tear. Important information like schedule strength lends insight into team records within the conference, more than individual game stats can.

In [133]:
%sql SELECT playerID, gameID, threePointBaskets from Baskets WHERE gameID is '2'

 * sqlite:///basketballDatabase.db
Done.

[(1, 2, 8), (2, 2, 0)]

Using this query, a user is able to display information on the player, game, and three-point baskets scored in a game. In this example, a user only displays this information based on one game, the game that has the gameID of 2. This query shows just how powerful the database can be when applied. When looking at data for one specific game, much can be learned from analyzing stats from one game and can be used to create a game plan moving into the next game.

In [135]:
%sql SELECT t.location, t.teamName, t.teamID, t.numPlayers, p.playerNumber, p.role, p.year from Team t, Player p WHERE t.teamID = p.teamID ORDER BY t.teamID

 * sqlite:///basketballDatabase.db
Done.

[('Jamestown', 'Eagles', 1, 12, 22, 'Point Guard', 'Senior'),
 ('Montgomery', 'Tigers', 2, 19, 9, 'Post', 'Junior'),
 ('Dallas', 'Spartans', 3, 20, 10, 'Wing', 'Senior'),
 ('Warrensville', 'Lions', 4, 13, 15, 'Point Guard', 'Sophomore'),
 ('Newtown', 'Bears', 5, 22, 7, 'Post', 'Senior')]

Using this query, a user is able to display a combined set of data from both the Team table and the Player table. This would allow a user to view more detailed information about each player and their respective teams, such as what the team's name is, the town the team is from, and the years of each of the players on those teams recorded in the database.